aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-types==0.7.0
attrs==26.1.0
autocommand==2.2.2
bcc==0.36.1
bcrypt==5.0.0
btrfsutil==7.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
cryptography==48.0.0
Cython==3.2.5
dbus-fast==5.0.17
defusedxml==0.7.1
distro==1.9.0
fido2==2.2.0
filelock==3.29.0
frozenlist==1.8.0
Glances==4.5.4
idna==3.18
importlib_metadata==9.0.0
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
jeepney==0.9.0
Jinja2==3.1.6
keyring==25.7.0
lit==22.1.6.dev0
MarkupSafe==3.0.3
more-itertools==11.1.0
multidict==6.7.1
nftables==0.1
numpy==2.4.6
orjson==3.11.9
packaging==26.2
pkg_resources==81.0.0
platformdirs==4.10.0
propcache==0.4.1
proton-core==0.7.0
proton-keyring-linux==0.2.1
proton-vpn-api-core==5.2.3
proton-vpn-cli==1.0.1
proton-vpn-daemon==0.13.7
psutil==7.2.2
pycairo==1.29.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
PyGObject==3.56.3
PyNaCl==1.6.2
pyOpenSSL==26.2.0
python-gnupg==0.5.6
QTermWidget==2.4.0
Reflector==2023.6.28.0.36.1
requests==2.34.2
SecretStorage==3.5.0
sentry-sdk==2.61.1
setuptools==82.0.1
shtab==1.8.0
smbus==1.1
tabulate==0.10.0
TBB @ file:///startdir/src/build/python/python_build
typing-inspection==0.4.2
typing_extensions==4.15.0
ufw==0.36.2
urllib3==2.7.0
VapourSynth==76
wheel==0.47.0
yarl==1.23.0
zipp==3.21.0
